// Basic colors
$color-background: color(White);
$color-text: color(Black);
$color-border: color(Black, 0.25);
$color-primary: color(Purple);
$color-secondary: color(Blue);
$color-warning: color(Orange);
$color-success: color(Green);
$color-error: color(Red);
